* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f4f8;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: white;
    width: 475px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

.task-input {
    display: flex;
    gap: 10px;
}

.task-input input {
    flex: 1;
    padding: 8px;
}

.task-input button {
    padding: 8px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

.actions button {
    margin-left: 5px;
    cursor: pointer;
}


.success-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.success-box {
    background: white;
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    animation: zoomIn 0.3s ease;
}

.success-box h2 {
    margin-bottom: 10px;
}

.success-box button {
    margin-top: 15px;
    padding: 8px 15px;
    cursor: pointer;
}

@keyframes zoomIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
li strong {
    padding: 2px 6px;
    border-radius: 4px;
    margin-right: 4px;
}

li strong:contains("Học tập") {
    background: #dbeafe;
}

li strong:contains("Rèn luyện sức khỏe") {
    background: #dcfce7;
}

li strong:contains("Làm đẹp") {
    background: #fce7f3;
}
